/* Global Styles */

body {
	margin-left: 0px;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-size: 14px;
	background-color: #082944;
	background-image: url();
	background-repeat: repeat;
	}

td,th {
	font:12.5px Georgia, "Times New Roman", Times, serif, "Adobe Garamond Pro", sans-serifArial, Helvetica, sans-serif;
	color:#000000;
	}
	
a {
	color: #000000;
	font-weight:normal;
	text-decoration:none;
	font-style: italic;
	}
a:link {
	text-decoration: none;
	color: #000000;
}
a:visited {
	text-decoration: none;
	color: #000000;
}
a:hover {
	text-decoration: underline;
	color: #FF9900;
}
a:active {
	text-decoration: none;
	color: #000033;
}

/* ID Styles */
Header {
color: #000000;
background-color: #14BCEB;
border: 1px solid #60ADEB;
width: 100%;
}
/* positioning the header banner */

#container {
	width: 1000px;
	background-color: #FFF;
	margin: 0 auto; /* the auto value on the sides, coupled with the width, centers the layout */
	overflow: hidden; /* this declaration makes the #container understand where the floated columns within ends and contain them */
	min-height:auto;
	display: flex;
}
#sidebar1 {
	float: left;
	width: 200px;
	background-color: #14BCEB;
	padding-bottom: 10px;
	align-items: stretch;
}

#content {
	padding: 10px 0px;
	width: 800px;
	float: left;
	min-height: 900px;
}

#content h1 {font: 20px Arial, sans-serif;
text-align: center;
font-weight: bold;
color: #000000;
}

#content img {padding-left: 15px;
}

#content p {text-align: justify;
}
.margin h2 {text-align: center;
font: 14px Arial, sans-serif;
font-style: italic;
color: blue;
}

#content nav  {width: 200px;
min-height: 10px;
margin-left: 310px;
}

#content nav a {
border: 2px solid green;
background-color: green;
font: 18px arial black;
color: #CECECE;
text-decoration: none;
padding: 3px;
}

#content nav a:hover {color: #FF6600;
}

.instruction {width: 300px;
float: left;

}
.instruction p1 {font: 16px Arial, Times, sans-serif;
margin-left: 70px;
font-weight: bold;
}

.instruction p {font: 14px Arial, Times, sans-serif;
padding-left: 35px;
text-align: justify;
line-height: 150%;
width: 300px;
color: #880000;
}
.registration_form {width: 400px;
min-height: 400px;
float: right;
margin-right: 20px;
}
.registration_form fieldset {width: 380px;
min-height: 230px;
}
.registration_form legend {
font-weight: bold;
font: 16px cooper black;
}
.registration_form label {font: 14px Arial, sans-serif;
}
.attestation p{font-family: Tahoma;
font-size: 8px;
color: #000000;
}
.usertextarea {width: 330px;
border: 2px groove #CECECE;
margin-left: -15px;
font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,Sans-Serif;
background: rgba(0, 0, 0, 0.07);
font-size: 0.9em;
border-radius: 5px;
}
.usertext {width: 200px;
}
.userarea {width: 330px;
border: 2px groove #CECECE;
margin-left: -15px;
font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,Sans-Serif;
background-color: #fff;
font-size: 0.9em;
border-radius: 5px;
}
.homeaddress {margin-left: -15px;
border-radius: 5px;
border: 2px groove #CECECE;
}
.user {width: 100px;
border: 2px groove #CECECE;
margin-left: 5px;
font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,Sans-Serif;
background-color: #fff;
font-size: 0.9em;
border-radius: 5px;
}
.userr {width: 290px;
border: 2px groove #CECECE;
margin-left: 0px;
font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,Sans-Serif;
background-color: #fff;
font-size: 0.9em;
border-radius: 5px;
}
.userr2 {width: 100%;
border: 2px groove #CECECE;
margin-left: 0px;
font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,Sans-Serif;
background-color: #fff;
font-size: 0.9em;
border-radius: 5px;
}
.userrr {width: 80px;
border: 2px groove #CECECE;
margin-left: 0px;
font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,Sans-Serif;
background-color: #fff;
font-size: 0.9em;
border-radius: 5px;
}
.userarea2 {width: 300px;
border: 2px groove #CECECE;
margin-left: -15px;
font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,Sans-Serif;
background-color: #fff;
font-size: 0.9em;
border-radius: 5px;
}
.userarea_form {width: 300px;
border: 2px groove #CECECE;
margin-left: 0px;
font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,Sans-Serif;
background-color: #fff;
font-size: 0.9em;
border-radius: 5px;
}
.usertextarea2 {width: 230px;
border: 2px groove #CECECE;
margin-left: 30px;
}

.usertextarea3 {width: 230px;
border: 2px groove #CECECE;
margin-left: 44px;
}


.usertextarea8 {width: 230px;
border: 2px groove #CECECE;
margin-left: 45px;
}

.usertextarea9 {width: 230px;
border: 2px groove #CECECE;
margin-left: 107px;
}

.usertextarea10 {width: 230px;
border: 2px groove #CECECE;
margin-left: 66px;
}

.usertextarea11 {width: 230px;
border: 2px groove #CECECE;
margin-left: 131px;
}

#Rad500 {margin-left: 99px;
}

#submit{
-moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
-webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
box-shadow:inset 0px 1px 3px 0px #91b8b3;
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
background-color:#768d87;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
display:inline-block;
color:#ffffff;
cursor: pointer;
font-family:Arial;
font-size:12px;
padding:2px 15px;
text-decoration:none;	
margin-left: 60px;
margin-top: 10px;
width: 100px;
font-family: Arial;
box-shadow: 0 1px 0 0 #60BD49 inset;
}

#submit:hover {
color: #880000;
}

#reset{-moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
-webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
box-shadow:inset 0px 1px 3px 0px #91b8b3;
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
background-color:#768d87;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
display:inline-block;
color:#ffffff;
cursor: pointer;
font-family:Arial;
font-size:12px;
padding:2px 15px;
text-decoration:none;	
margin-top: 10px;
width: 100px;
font-family: Arial;
box-shadow: 0 1px 0 0 #60BD49 inset;
}
#reset:hover{
color: #880000;
}

#login  {-moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
-webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
box-shadow:inset 0px 1px 3px 0px #91b8b3;
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
background-color:#768d87;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
display:inline-block;
color:#ffffff;
cursor: pointer;
font-family:Arial;
font-size:12px;
padding:2px 15px;
text-decoration:none;	
margin-top: 10px;
width: 100px;
font-family: Arial;
box-shadow: 0 1px 0 0 #60BD49 inset;
}
#login{
color: 880000;
}
.login_form {width: 500px;
min-height: 200px;
margin-left: auto;
margin-right: auto;

}
.login_form fieldset {width: 390px;
min-height: 100px;
background-color: #C5DFFA;
}
.login_form legend {
background-color:#082944;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
border:0px solid #566963;
color:orange;
font:12px Arial, Helvetica, sans-serif; 
text-decoration:none;
text-shadow:0px -1px 0px #2b665e;
padding: 5px 10px;
border: 0px groove #CECECE;
margin-left: 10px;
}
.login_form label {font: 18px Arial, sans-serif;
padding-left: 12px;
}
#login22  {margin-top: 10px;
width: 140px;
-moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
-webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
box-shadow:inset 0px 1px 3px 0px #91b8b3;
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
background-color:#768d87;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
display:inline-block;
cursor:pointer;
color:#ffffff;
font:12px Arial, Helvetica, sans-serif;
padding:2px 1px;
text-decoration:none;
font-style: normal;
margin-left: 45px;
}
#regg  {margin-top: 10px;
width: 140px;
-moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
-webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
box-shadow:inset 0px 1px 3px 0px #91b8b3;
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
background-color:#768d87;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
display:inline-block;
cursor:pointer;
color:#ffffff;
font:12px Arial, Helvetica, sans-serif;
padding:2px 1px;
text-decoration:none;
font-style: normal;
}
#regg:hover{
color: #880000;
}
#login22:hover{
color: #880000;
}
#forgotpass2:hover{
color: #880000;
}
#forgotpass2  {margin-top: 10px;
width: 140px;
-moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
-webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
box-shadow:inset 0px 1px 3px 0px #91b8b3;
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
background-color:#768d87;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
display:inline-block;
cursor:pointer;
color:#ffffff;
font:12px Arial, Helvetica, sans-serif;
padding:2px 1px;
text-decoration:none;
font-style: normal;
margin-left: 20px;
}
#email {width: 350px;
border: 2px groove #CECECE;
margin-left: 0px;
font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,Sans-Serif;
background: rgba(0, 0, 0, 0.07);
font-size: 0.9em;
border-radius: 5px;
}

#passkey {width: 350px;
border: 2px groove #CECECE;
padding-left: 3px;
font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,Sans-Serif;
background: rgba(0, 0, 0, 0.07);
font-size: 0.9em;
border-radius: 5px;
}

#login2  {background-color: green;
margin-left: 87px;
margin-top: 10px;
width: 120px;
font-family: Arial;
border: 1px solid #59B969;
border-radius: 8px;
box-shadow: 0 1px 0 0 #60BD49 inset;
@include linear-gradient(#63E651, #42753E);
}
#send  {margin-top: 10px;
width: 120px;
-moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
-webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
box-shadow:inset 0px 1px 3px 0px #91b8b3;
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
background-color:#768d87;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
display:inline-block;
cursor:pointer;
color:#ffffff;
font:12px Arial, Helvetica, sans-serif;
padding:2px 1px;
text-decoration:none;
font-style: normal;
}
#send:hover{
color: #880000;
}
#send2  {
margin-left: 120px;
margin-top: 10px;
width: 120px;
-moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
-webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
box-shadow:inset 0px 1px 3px 0px #91b8b3;
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
background-color:#768d87;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
display:inline-block;
color:#ffffff;
cursor: pointer;
font-family:Arial;
font-size:16px;
padding:2px 15px;
text-decoration:none;	
}
#send2:hover{
color: #880000;
}
.submit7:hover {
color: #880000;
}

#forgotpass  {background-color: green;
margin-top: 10px;
width: 120px;
font-family: Arial;
border: 1px solid #59B969;
border-radius: 8px;
box-shadow: 0 1px 0 0 #60BD49 inset;
@include linear-gradient(#63E651, #42753E);
}

#pageContent {width: 800px;
min-height: 400px;
}
.buttons {
width: 230px;
min-height: 50px;
margin-left: auto;
margin-right: auto;
background: rgba(0, 0, 0, 0.07);
}
.image {
	background-image: url('../images/avata2.png');
}
#Tabs ul {
padding: 0px;
margin: 0px;
margin-left: 0px;
list-style-type: none;
}

#Tabs ul li {
display: inline-block;
clear: none;
float: left;
height: 24px;
}

#Tabs ul  a {
font-style: none;
position: relative;
margin-top: 16px;
display: block;
margin-left: 6px;
line-height: 24px;
padding-left: 10px;
background: #CECECE;
z-index: 9999;
border: 1px solid #ccc;
border-bottom: 0px;
text-align: center;

/* The following four lines are to make the top left and top right corners of each tab rounded. */
-moz-border-radius-topleft: 4px;
border-top-left-radius: 4px;
-moz-border-radius-topright: 4px;
border-top-right-radius: 4px;
/* end of rounded borders */
font-size: 12px;
width: 180px;
color: #000000;
text-decoration: none;
font-weight: bold;
}
#Tabs ul li a:hover {

}

/* this is the css class for the content displayed in each tab*/
#Tabs #Content_Area { 
padding: 0 15px;
clear:both;
overflow:hidden;
line-height:19px;
position: relative;
top: 20px;
z-index: 5;
min-height: 400px;
overflow: hidden;
}
.bio_data {width: 750px;
min-height: 300px;
margin-left: auto;
margin-right: auto;
}

.bio_data fieldset {width: 600px;
min-height: 200px;
margin-left: auto;
margin-right: auto;
background: rgba(0, 0, 0, 0.07);
}
.bio_data legend {background-color:#082944;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
border:0px solid #566963;
display:block;
color:orange;
font:12px Arial, Helvetica, sans-serif; 
text-decoration:none;
text-shadow:0px -1px 0px #2b665e;
padding: 5px 10px;
border: 0px groove #CECECE;
list-style-type: none;
}

.form3{
padding-left: 0px;
}

#back1{
width: 130px;
-moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
-webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
box-shadow:inset 0px 1px 3px 0px #91b8b3;
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
background-color:#768d87;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
display:inline-block;
color:#ffffff;
cursor: pointer;
font-family:Arial;
font-size:16px;
padding:2px 15px;
text-decoration:none;
}
#back2{
width: 130px;
-moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
-webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
box-shadow:inset 0px 1px 3px 0px #91b8b3;
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
background-color:#768d87;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
display:inline-block;
color:#ffffff;
cursor: pointer;
font-family:Arial;
font-size:16px;
padding:2px 15px;
text-decoration:none;
margin-left: 150px;
}
.btns {
width: 510px;
min-height: 30px;
margin-left: auto;
margin-right: auto;
float: right;
display: inline-block;
}
#proceed{
width: 130px;
-moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
-webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
box-shadow:inset 0px 1px 3px 0px #91b8b3;
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
background-color:#768d87;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
display:inline-block;
color:#ffffff;
cursor: pointer;
font-family:Arial;
font-size:16px;
padding:2px 15px;
text-decoration:none;	
}
#proceed2{
width: 130px;
-moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
-webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
box-shadow:inset 0px 1px 3px 0px #91b8b3;
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
background-color:#768d87;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
display:inline-block;
color:#ffffff;
cursor: pointer;
font-family:Arial;
font-size:16px;
padding:2px 15px;
text-decoration:none;	
}
Table, th, td{border: 1px solid #000000;
border-collapse: collapse;
}
Footer {
color: #000000;
font-size: 12px;
background-color: #14BCEB; 
border: 1px solid #60ADEB; 
width: 100%;
text-align: center;

}

#navigation2 a {
font:12px Arial, Helvetica, sans-serif;
color: #000000;
text-decoration: none;
letter-spacing:.1em;
font-weight: bold;
line-height:16px;
display:block;
padding: 0px 10px;
border-right: none;
}

#navigation2 li a {-moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
-webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
box-shadow:inset 0px 1px 3px 0px #91b8b3;
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
background-color:#768d87;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
border:0px solid #566963;
display:block;
cursor:pointer;
color:#ffffff; 
font-size:12px;
text-decoration:none;
text-shadow:0px -1px 0px #2b665e;
padding: 5px 10px;
border: 0px groove #CECECE;
list-style-type: none;

}
#navigation2 li a:hover{
color: #880000;
}
#navigation2 li a:active{
color: #880000;
position:relative;
top:1px;
background-color: #CECECE;
}
#navigation2 li  {list-style-type: none;
}	

#navigation2 li a:hover {
	background-color:#6c7c7c;
}
	
.current {color:#ffffff;
         background-color: #CECECE;
		 
}

#padding {
	padding:14px;
	}
	
/* Calendar Styles */

#calendar td {
	border: 1px solid #26354A; 
	}
	
#noborder td {
	border: 0px;
	}

#calheader td {
	font-weight:bold;
	color: #ffffff;
	}
	
/* Class Styles */

.logo {
	font:24px Times New Roman, Times, serif;
	color: #FFBA00;
	letter-spacing:.3em;
	line-height:26px;
	}
	
.tagline {
	font: 11px Arial, Helvetica, sans-serif;
	color: #D3DCE6;
	line-height:16px;
	}
	
.bodyText {
	line-height:normal;
	color:#000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	letter-spacing: 0.1em;
	}

.detailText {
	font:11px Arial, Helvetica, sans-serif;
	line-height:16px;
	color:#26354A;
	letter-spacing:.1em;
	}
	
.emphasis {
	line-height:16px;
	font-weight:bold;
	color:#000099;
	letter-spacing:.1em;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: italic;
	}
	
.pageName {
	font:18px Arial, Helvetica, sans-serif;
	color: #FF6600;
	letter-spacing:.2em;
	line-height:24px;
	}
	
.subHeader {
	font:bold 12px Arial, Helvetica, sans-serif;
	color: #880000;
	font-weight:bold;
	line-height:20px;
	letter-spacing:.1em;
	}
ul.news li {list-style-type: none;
font: 13px Arial, Helvetica, sans-serif;
color: #2D374D;
line-height:16px;
}	

.navText {
	font:10px Arial, Helvetica, sans-serif;
	color: #26354A;
	letter-spacing:.1em;
	line-height:16px;
	}

.calendarText {
	font:11px Arial, Helvetica, sans-serif;
	color: #26354A;
	letter-spacing:.1em;
	}
	
	
.sidebarText {
	font:11px Arial, Helvetica, sans-serif;
	color: #FFBA00;
	letter-spacing:.1em;
	line-height:18px;
	}

.warning {
	font-weight: bold;
	text-transform: capitalize;
	color: #FF0000;
	text-decoration: blink;
}

 p {
	margin-top: 0;
	font-family: Arial, Calibri, "Times New Roman", Tahoma, Times;
	font-size: 13.5px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000033;
	line-height: 20px;
	padding-right: 15px;
	padding-left: 15px;
}
h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
		padding-right: 15px;
	padding-left: 15px;
}
#progress-bar {background-color: #12CC1A;height:20px;color: #FFFFFF;width:0%;-webkit-transition: width .3s;-moz-transition: width .3s;transition: width .3s;}
#progress-div {border:#0FA015 1px solid;padding: 5px 0px;margin:30px 0px;border-radius:4px;text-align:center;}
#targetLayer{width:100%;text-align:center;}
#exampdf {margin-top: 20px;
margin-left: 10px;
}
#print_profile {width: 780px;
min-height: 900px;
border: 0px solid #000000;
background-image: url(../images/buthlogo.gif);
background-position: center;
background-repeat: no-repeat;
}
#print_profilee {width: 780px;
min-height: 300px;
border: 0px solid #000000;
background-color: #fff;
}
#print_profilee h1 {color: olive; 
font-family: Tahoma; 
text-align: center; 
font-size: 38px; 
text-transform: uppercase;
}
.add {background-color: #000000;
}
.add p {text-align: center;
color: #fff;
font-size: 16px;
font-weight: bold;
padding-top: 5px;
margin-top: -20px;
margin-left: 10px;
margin-right: 10px; 
text-transform: uppercase;
}

#print_profile h1 {color: olive; 
font-family: Tahoma; 
text-align: center; 
font-size: 38px; 
text-transform: uppercase;
}
#containerr {background-color: #fff; 
min-height: 900px;
margin-left: auto;
margin-right: auto;
width: 780px; 
margin-top: 10px;
}
.print_profiledata {width: 760px;
min-height: 400px;
margin-left: 5px;
}
.print_profiledata p {margin-left: 0px; 
font-weight: bold; 
font-family: Calibri (Body); 
text-transform: uppercase; 
font-size: 18px;
}
.print_profiledata2 {width: 600px;
min-height: 400px;
margin-left: 0px;
}
.print_profiledata2 fieldset {width: 735px;
min-height: 400px;
margin-left: 0px;
}
.print_profile h2 {color: #000000; 
font-family: Tahoma; 
text-align: center; 
font-size: 20px; 
font-style: normal; 
text-transform: uppercase; 
text-decoration: underline;
}
#declaration li {font-family: Tahoma;
font-size: 16px;
margin-left: 15px;
list-style-type: square;
}
.product {width: 240px;
border: 2px solid #000000;
min-height: 230px;
margin-left: auto;
margin-right: auto;
}
.name p {font-weight: bold; 
font-style: italic; 
font-size: 12px;
padding-left: 10px;
}
.Pin_request_fee p {text-align: center;
padding-left: 50px;
}
.btn {padding-left: 60px;
}
.payment_form {width: 400px;
min-height: 200px;
margin-left: auto;
margin-right: auto;
}
.payment_form fieldset {
	background-color: #C5DFFA;
}
.payment_form label {font: 16px Arial, Helvetica, sans-serif;
margin-left: 13px
}
.payment_form legend {background-color:#082944;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
border:0px solid #566963;
display:block;
color:orange;
font:12px Arial, Helvetica, sans-serif; 
text-decoration:none;
text-shadow:0px -1px 0px #2b665e;
padding: 5px 10px;
border: 0px groove #CECECE;
list-style-type: none;
}
.successpage {width: 300px;
margin-top: 30px;
min-height: 180px;
margin-left: auto;
margin-right: auto;
-moz-box-shadow: 0px 10px 14px -7px #276873;
-webkit-box-shadow: 0px 10px 14px -7px #276873;
box-shadow: 0px 10px 14px -7px #276873;
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99));
background:-moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
background:-webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
background:-o-linear-gradient(top, #599bb3 5%, #408c99 100%);
background:-ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99',GradientType=0);
background-color:#599bb3;
-moz-border-radius:8px;
-webkit-border-radius:8px;
border-radius:4px;
}
span.successmsg2 {
font-family: tahoma; 
color: #000000; 
font-size: 14px; 
font-weight: bold;  
}
span.successmsg3 {background-color:#082944;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
border:0px solid #566963;
display:inline-block;
color:orange;
font:13px Arial, Helvetica, sans-serif; 
text-decoration:none;
text-shadow:0px -1px 0px #2b665e;
padding: 1px 1px;
border: 0px groove #CECECE;
width: 150px;
}
h3.heading_text {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  position: relative;
  width: 230px;
  text-align: center;
  padding: 1px 10px;
  overflow: hidden;
  border-radius: 1px;
  text-transform: uppercase;
  font: normal normal bold 16px/normal "Syncopate", Helvetica, sans-serif;
  color: #ecf0f1;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: -webkit-linear-gradient(-90deg, #ff8583 0, #ff5350 100%);
  background: -moz-linear-gradient(180deg, #ff8583 0, #ff5350 100%);
  background: linear-gradient(180deg, #ff8583 0, #ff5350 100%);
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
  -webkit-box-shadow: 0 10px 0 0 rgba(178,49,49,1) ;
  box-shadow: 0 10px 0 0 rgba(178,49,49,1) ;
  text-shadow: 0 0 0 rgb(196,80,78) , 1px 1px 0 rgb(196,80,78) , 2px 2px 0 rgb(196,80,78) , 3px 3px 0 rgb(196,80,78) , 4px 4px 0 rgb(196,80,78) , 5px 5px 0 rgb(196,80,78) , 6px 6px 0 rgb(196,80,78) , 7px 7px 0 rgb(196,80,78) , 8px 8px 0 rgb(196,80,78) , 9px 9px 0 rgb(196,80,78) , 10px 10px 0 rgb(196,80,78) , 11px 11px 0 rgb(196,80,78) , 12px 12px 0 rgb(196,80,78) , 13px 13px 0 rgb(196,80,78) , 14px 14px 0 rgb(196,80,78) , 15px 15px 0 rgb(196,80,78) , 16px 16px 0 rgb(196,80,78) , 17px 17px 0 rgb(196,80,78) , 18px 18px 0 rgb(196,80,78) , 19px 19px 0 rgb(196,80,78) , 20px 20px 0 rgb(196,80,78) , 21px 21px 0 rgb(196,80,78) , 22px 22px 0 rgb(196,80,78) , 23px 23px 0 rgb(196,80,78) , 24px 24px 0 rgb(196,80,78) , 25px 25px 0 rgb(196,80,78) , 26px 26px 0 rgb(196,80,78) , 27px 27px 0 rgb(196,80,78) , 28px 28px 0 rgb(196,80,78) , 29px 29px 0 rgb(196,80,78) , 30px 30px 0 rgb(196,80,78) , 31px 31px 0 rgb(196,80,78) , 32px 32px 0 rgb(196,80,78) , 33px 33px 0 rgb(196,80,78) , 34px 34px 0 rgb(196,80,78) , 35px 35px 0 rgb(196,80,78) , 36px 36px 0 rgb(196,80,78) , 37px 37px 0 rgb(196,80,78) , 38px 38px 0 rgb(196,80,78) , 39px 39px 0 rgb(196,80,78) , 40px 40px 0 rgb(196,80,78) , 41px 41px 0 rgb(196,80,78) , 42px 42px 0 rgb(196,80,78) , 43px 43px 0 rgb(196,80,78) , 44px 44px 0 rgb(196,80,78) , 45px 45px 0 rgb(196,80,78) , 46px 46px 0 rgb(196,80,78) , 47px 47px 0 rgb(196,80,78) , 48px 48px 0 rgb(196,80,78) , 1px 1px 0 rgba(196,80,78,0.980392) , 2px 2px 0 rgba(196,80,78,0.960784) , 3px 3px 0 rgba(196,80,78,0.941176) , 4px 4px 0 rgba(196,80,78,0.921569) , 5px 5px 0 rgba(196,80,78,0.901961) , 6px 6px 0 rgba(196,80,78,0.882353) , 7px 7px 0 rgba(196,80,78,0.862745) , 8px 8px 0 rgba(196,80,78,0.843137) , 9px 9px 0 rgba(196,80,78,0.819608) , 10px 10px 0 rgba(196,80,78,0.8) , 11px 11px 0 rgba(196,80,78,0.780392) , 12px 12px 0 rgba(196,80,78,0.760784) , 13px 13px 0 rgba(196,80,78,0.741176) , 14px 14px 0 rgba(196,80,78,0.721569) , 15px 15px 0 rgba(196,80,78,0.701961) , 16px 16px 0 rgba(196,80,78,0.682353) , 17px 17px 0 rgba(196,80,78,0.658824) , 18px 18px 0 rgba(196,80,78,0.639216) , 19px 19px 0 rgba(196,80,78,0.619608) , 20px 20px 0 rgba(196,80,78,0.6) , 21px 21px 0 rgba(196,80,78,0.580392) , 22px 22px 0 rgba(196,80,78,0.560784) , 23px 23px 0 rgba(196,80,78,0.541176) , 24px 24px 0 rgba(196,80,78,0.521569) , 25px 25px 0 rgba(196,80,78,0.498039) , 26px 26px 0 rgba(196,80,78,0.478431) , 27px 27px 0 rgba(196,80,78,0.458824) , 28px 28px 0 rgba(196,80,78,0.439216) , 29px 29px 0 rgba(196,80,78,0.419608) , 30px 30px 0 rgba(196,80,78,0.4) , 31px 31px 0 rgba(196,80,78,0.380392) , 32px 32px 0 rgba(196,80,78,0.360784) , 33px 33px 0 rgba(196,80,78,0.341176) , 34px 34px 0 rgba(196,80,78,0.317647) , 35px 35px 0 rgba(196,80,78,0.298039) , 36px 36px 0 rgba(196,80,78,0.278431) , 37px 37px 0 rgba(196,80,78,0.258824) , 38px 38px 0 rgba(196,80,78,0.239216) , 39px 39px 0 rgba(196,80,78,0.219608) , 40px 40px 0 rgba(196,80,78,0.2) , 41px 41px 0 rgba(196,80,78,0.180392) , 42px 42px 0 rgba(196,80,78,0.156863) , 43px 43px 0 rgba(196,80,78,0.137255) , 44px 44px 0 rgba(196,80,78,0.117647) , 45px 45px 0 rgba(196,80,78,0.0980392) , 46px 46px 0 rgba(196,80,78,0.0784314) , 47px 47px 0 rgba(196,80,78,0.0588235) , 48px 48px 0 rgba(196,80,78,0.0392157) , 50px 50px 0 rgba(196,80,78,0) ;
}
h3.heading_text2 {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  position: relative;
  width: 400px;
  cursor: pointer;
  text-align: center;
  overflow: hidden;
  border-radius: 1px;
  text-transform: uppercase;
  font: normal normal bold 16px/normal "Syncopate", Helvetica, sans-serif;
  color: #ecf0f1;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: -webkit-linear-gradient(-90deg, #ff8583 0, #ff5350 100%);
  background: -moz-linear-gradient(180deg, #ff8583 0, #ff5350 100%);
  background: linear-gradient(180deg, #ff8583 0, #ff5350 100%);
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
  -webkit-box-shadow: 0 10px 0 0 rgba(178,49,49,1) ;
  box-shadow: 0 10px 0 0 rgba(178,49,49,1) ;
  text-shadow: 0 0 0 rgb(196,80,78) , 1px 1px 0 rgb(196,80,78) , 2px 2px 0 rgb(196,80,78) , 3px 3px 0 rgb(196,80,78) , 4px 4px 0 rgb(196,80,78) , 5px 5px 0 rgb(196,80,78) , 6px 6px 0 rgb(196,80,78) , 7px 7px 0 rgb(196,80,78) , 8px 8px 0 rgb(196,80,78) , 9px 9px 0 rgb(196,80,78) , 10px 10px 0 rgb(196,80,78) , 11px 11px 0 rgb(196,80,78) , 12px 12px 0 rgb(196,80,78) , 13px 13px 0 rgb(196,80,78) , 14px 14px 0 rgb(196,80,78) , 15px 15px 0 rgb(196,80,78) , 16px 16px 0 rgb(196,80,78) , 17px 17px 0 rgb(196,80,78) , 18px 18px 0 rgb(196,80,78) , 19px 19px 0 rgb(196,80,78) , 20px 20px 0 rgb(196,80,78) , 21px 21px 0 rgb(196,80,78) , 22px 22px 0 rgb(196,80,78) , 23px 23px 0 rgb(196,80,78) , 24px 24px 0 rgb(196,80,78) , 25px 25px 0 rgb(196,80,78) , 26px 26px 0 rgb(196,80,78) , 27px 27px 0 rgb(196,80,78) , 28px 28px 0 rgb(196,80,78) , 29px 29px 0 rgb(196,80,78) , 30px 30px 0 rgb(196,80,78) , 31px 31px 0 rgb(196,80,78) , 32px 32px 0 rgb(196,80,78) , 33px 33px 0 rgb(196,80,78) , 34px 34px 0 rgb(196,80,78) , 35px 35px 0 rgb(196,80,78) , 36px 36px 0 rgb(196,80,78) , 37px 37px 0 rgb(196,80,78) , 38px 38px 0 rgb(196,80,78) , 39px 39px 0 rgb(196,80,78) , 40px 40px 0 rgb(196,80,78) , 41px 41px 0 rgb(196,80,78) , 42px 42px 0 rgb(196,80,78) , 43px 43px 0 rgb(196,80,78) , 44px 44px 0 rgb(196,80,78) , 45px 45px 0 rgb(196,80,78) , 46px 46px 0 rgb(196,80,78) , 47px 47px 0 rgb(196,80,78) , 48px 48px 0 rgb(196,80,78) , 1px 1px 0 rgba(196,80,78,0.980392) , 2px 2px 0 rgba(196,80,78,0.960784) , 3px 3px 0 rgba(196,80,78,0.941176) , 4px 4px 0 rgba(196,80,78,0.921569) , 5px 5px 0 rgba(196,80,78,0.901961) , 6px 6px 0 rgba(196,80,78,0.882353) , 7px 7px 0 rgba(196,80,78,0.862745) , 8px 8px 0 rgba(196,80,78,0.843137) , 9px 9px 0 rgba(196,80,78,0.819608) , 10px 10px 0 rgba(196,80,78,0.8) , 11px 11px 0 rgba(196,80,78,0.780392) , 12px 12px 0 rgba(196,80,78,0.760784) , 13px 13px 0 rgba(196,80,78,0.741176) , 14px 14px 0 rgba(196,80,78,0.721569) , 15px 15px 0 rgba(196,80,78,0.701961) , 16px 16px 0 rgba(196,80,78,0.682353) , 17px 17px 0 rgba(196,80,78,0.658824) , 18px 18px 0 rgba(196,80,78,0.639216) , 19px 19px 0 rgba(196,80,78,0.619608) , 20px 20px 0 rgba(196,80,78,0.6) , 21px 21px 0 rgba(196,80,78,0.580392) , 22px 22px 0 rgba(196,80,78,0.560784) , 23px 23px 0 rgba(196,80,78,0.541176) , 24px 24px 0 rgba(196,80,78,0.521569) , 25px 25px 0 rgba(196,80,78,0.498039) , 26px 26px 0 rgba(196,80,78,0.478431) , 27px 27px 0 rgba(196,80,78,0.458824) , 28px 28px 0 rgba(196,80,78,0.439216) , 29px 29px 0 rgba(196,80,78,0.419608) , 30px 30px 0 rgba(196,80,78,0.4) , 31px 31px 0 rgba(196,80,78,0.380392) , 32px 32px 0 rgba(196,80,78,0.360784) , 33px 33px 0 rgba(196,80,78,0.341176) , 34px 34px 0 rgba(196,80,78,0.317647) , 35px 35px 0 rgba(196,80,78,0.298039) , 36px 36px 0 rgba(196,80,78,0.278431) , 37px 37px 0 rgba(196,80,78,0.258824) , 38px 38px 0 rgba(196,80,78,0.239216) , 39px 39px 0 rgba(196,80,78,0.219608) , 40px 40px 0 rgba(196,80,78,0.2) , 41px 41px 0 rgba(196,80,78,0.180392) , 42px 42px 0 rgba(196,80,78,0.156863) , 43px 43px 0 rgba(196,80,78,0.137255) , 44px 44px 0 rgba(196,80,78,0.117647) , 45px 45px 0 rgba(196,80,78,0.0980392) , 46px 46px 0 rgba(196,80,78,0.0784314) , 47px 47px 0 rgba(196,80,78,0.0588235) , 48px 48px 0 rgba(196,80,78,0.0392157) , 50px 50px 0 rgba(196,80,78,0) ;
}
.pin a {
-moz-box-shadow:inset 0px 39px 0px -24px #e67a73;
-webkit-box-shadow:inset 0px 39px 0px -24px #e67a73;
box-shadow:inset 0px 39px 0px -24px #e67a73;
background-color:#e4685d;
-moz-border-radius:4px;
-webkit-border-radius:4px;
border-radius:4px;
border:1px solid #ffffff;
display:inline-block;
cursor:pointer;
color:#ffffff;
font-family:Arial;
font-size:18px;
padding:6px 15px;
text-decoration:none;
text-shadow:0px 1px 0px #b23e35;
font-style: normal;
}
.pin a:hover {
background-color:#eb675e;
text-decoration: none;
color: orange;
}
nav.reg a {
width: 200px;
-moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
-webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
box-shadow:inset 0px 1px 3px 0px #91b8b3;
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
background-color:#768d87;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
display:inline-block;
cursor:pointer;
color:#ffffff;
font:12px Arial, Helvetica, sans-serif;
padding:2px 1px;
text-decoration:none;
font-style: normal;

}
nav.reg a:hover {
background-color:#eb675e;
text-decoration: none;

}
.reg_form{width: 430px;
min-height: 400px;
float: right;
margin-right: 10px;
}
.form_data label {font-size: 14px;
font-family: Adobe Gothic Std B;
text-align: left;
}

.form_data{
padding-left: 0px;
}
.form label {font-size: 14px;
font-family: Adobe Gothic Std B;
text-align: left;
}
.userarea {
float: right;
width: 295px;
border: 2px groove #CECECE;
font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,Sans-Serif;
background: #CECECE;
font-size: 0.9em;
border-radius: 5px;
background-color: #FFFFFF;
}
.userarea_reg {
float: right;
width: 260px;
border: 2px groove #CECECE;
font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,Sans-Serif;
background: #CECECE;
font-size: 0.9em;
border-radius: 5px;
background-color: #FFFFFF;
}
.page_title {
background-color:#082944;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
border:0px solid #566963;
display:block;
color:orange;
font:12px Arial, Helvetica, sans-serif; 
text-decoration:none;
text-shadow:0px -1px 0px #2b665e;
padding: 5px 10px;
border: 0px groove #CECECE;
list-style-type: none;
}
div.pin_request  {
color: #4F8A10;
background-color: #DFF2BF;
border-radius:.5em;
width: 400px;
border: 1px solid #D8D8D8;
padding: 10px;
border-radius: 5px;
font-family: Arial;
font-size: 11px;
text-transform: uppercase;
text-align: center;
text-transform: uppercase;
margin-left: auto; 
margin-right: auto;
}

label.labelEmail {
font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,Sans-Serif;
font-size: 14px;
}
.successbtn {
margin-top: -3px;
margin-left: 0px;
font-weight: bold;
float: left;
font-size: 22px;
transition: 0.3s;
}
h3.reg{
text-align: center; 
font-family: arial black; 
color: #ffffff; 
font-size: 18px; 
text-shadow: -1px -1px 1px #aaa, 0px 4px 1px rgba(0,0,0,0.5), 4px 4px 5px rgba(0,0,0,0.7), 0px 0px 7px rgba(0,0,0,0.4); 
text-transform: uppercase;	
}
h2.reg{
text-align: center; 
font-family: arial black; 
color: #ffffff; 
font-size: 18px; 
text-shadow: -1px -1px 1px #aaa, 0px 4px 1px rgba(0,0,0,0.5), 4px 4px 5px rgba(0,0,0,0.7), 0px 0px 7px rgba(0,0,0,0.4); 
text-transform: uppercase;
font-style: normal;	
}
li.res {
	display: none;
	width: 130px;
	margin-left: 30px;
}
#search2 {
font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,Sans-Serif;
background: #CECECE;
border-radius: 5px;
width: 400px;
}
.submit4  {
-moz-box-shadow:inset 0px 39px 0px -24px #e67a73;
-webkit-box-shadow:inset 0px 39px 0px -24px #e67a73;
box-shadow:inset 0px 39px 0px -24px #e67a73;
background-color:#e4685d;
-moz-border-radius:4px;
-webkit-border-radius:4px;
border-radius:4px;
border:1px solid #ffffff;
display:inline-block;
cursor:pointer;
color:#ffffff;
font-family:Arial;
font-size:18px;
padding:6px 15px;
text-decoration:none;
text-shadow:0px 1px 0px #b23e35;
font-style: normal;
}
.submit4:hover {
background-color:#eb675e;
text-decoration: none;
}

.product_form2{width: 600px;
min-height: 200px;
margin-left: auto;
margin-right: auto;
border: 1px solid #CECECE;
background-color: #C5DFFA;
}
.form label {font-size: 14px;
font-family: Adobe Gothic Std B;
float: left;
padding-left: 5px;
}
#userarea {
float: right;
margin-right: auto;
width: 300px;
border: 2px groove #CECECE;
font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,Sans-Serif;
background: #CECECE;
font-size: 0.9em;
border-radius: 5px;
}

/*.form {
width: 500px;
min-height: 100px;
margin-left: auto;
margin-right: auto;
}*/
div.notestodis {
	max-height: 400px;
	overflow-y: auto;
}
label.noteheading {
	font-size: 14px; 
	font-weight: bold;
	font-family: verdana;
	color: #880000;
	margin-left: 15px;
}
label.dateadded {
	font-size: 14px; 
	font-family: arial;
	margin-left: 15px;
}
p.note {
	font-size: 12px; 
	font-weight: bold;
	font-family: verdana;
	width: 700px;
	text-align: justify;
}
#deletenote {
	margin-left: 15px;
	margin-top: 0px;
}
.dynamic_table {
	max-height: 650px;
	overflow-y: auto;
}
.dynamic_table table {
	width: 650px;
	border: 1px;	
	margin-left: auto; 
	margin-right: auto; 
	table-layout: fixed;
}
.dynamic_table td{
	width: 20%;
	background-color:#C5DFFA; 
	font-family: Adobe Heiti Std R;
	font-size: 14px;
	word-wrap: break-word;
}
.dynamic_table2 {
	max-height: 200px;
	overflow-y: auto;
}
.dynamic_table2 table {
	width: 400px;
	border: 1px;	
	margin-left: auto; 
	margin-right: auto; 
	table-layout: fixed;
}
.dynamic_table2 td{
	width: 20%;
	background-color:#C5DFFA; 
	font-family: Adobe Heiti Std R;
	font-size: 14px;
	word-wrap: break-word;
}
td.data_td {
	background-color:#CECECE; 
	padding-left: 5px; 
	font-family: monospace;
}
td.data_td a:link {
	color: green;
	text-decoration: none; 
	background-color: #fff; 
	padding: 3px 3px 3px 3px;	
}
td.data_td a:visited {
	color: #000000;
	background-color: lightgreen;	
}
td.data_td a:hover {
	color: #880000;
	text-decoration: none;	
}